/* Include FONTS -- OSWALD / OPEN SANS*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&display=swap');

/* Redefinied margin in page */
* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
}

/* GREEN LINE */
header .line {
    background-color: #117050;
    height: 10px;
}

/* CONTAINER in Header */
.container {
    max-width: 1140px;
    margin: auto;
}

/* Header AREA */
.header--area {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}

/* IMG LOGO header */
.header--left img {
    width: 64px;
    height: 64px;
}

/* SEARCH */
.header--search input {
    font-size: 16px;
    padding: 7px 10px;
    border: 1px solid #999999;
    outline: 0;
}