/* Include FONTS -- OSWALD / OPEN SANS*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&display=swap');

/* Redefinied margin in page */
* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
}

/* GREEN LINE */
header .line {
    background-color: #117050;
    height: 10px;
}

/* CONTAINER in Header */
.container {
    max-width: 1140px;
    margin: auto;
}

/* LINE GREEN -- (BAR)*/
.bar {
    background-color: #006341;
    width: 168px;
    height: 22px;
}

/* H1 */
h1 {
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    font-size: 90px;
    line-height: 100px;
    margin: 0;
    margin-bottom: 30px;
}

/* H2 */
h2 {
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    font-size: 35px;
    line-height: 45px;
    margin: 0;
}

/* Header AREA */
.header--area {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}

/* IMG LOGO header */
.header--left img {
    width: 64px;
    height: 64px;
}

/* MENU topics */
.header--right {
    display: flex;
    align-items: center;
}

/* SEARCH */
.header--search form {
    display: flex;
}

.header--search input {
    font-size: 16px;
    padding: 7px 15px;
    border: 1px solid #999999;
    outline: 0;
    width: 100%;
    max-width: 250px;
}

/* BUTTON In Search */
.header--search button {
    border: 0;
    background: transparent;
    margin-left: -30px;
    cursor: pointer;
}

.header--search button img {
    width: 16px;
    height: 16px;
}

/* Header MENU */
.header--menu {
    margin-left: 50px;
    cursor: pointer;
}

/* IMG in Menu Header */
.header--menu img {
    width: 24px;
    height: 24px;
}




/* SECTION BANNER */
.banner {
    background-image: url('../images/bg.jpg');
    background-position: center;
    background-size: cover;
    padding-top: 90px;
    padding-bottom: 90px;
}

/* TITLE */
.banner h1 {
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    line-height: 100px;
    font-size: 90px;
    margin: 0;
    margin-bottom: 30px;
}

/* IMAGES in banner */
.banner--images {
    margin-top: 60px;
}


.banner--images img {
    width: 148px;
    height: 148px;
    border: 6px solid #117050;
    border-radius: 50%;
    margin-right: 40px;
}




/* SECTION AREA 1 */
.area1 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.area1--content {
    padding: 80px;
}

.area1--img1 {
    background-color: green;
    height: 350px;
    background-image: url('../images/f2.jpg');
    background-size: cover;
    background-position: center;
}

.area1--img2 {
    background-color: red;
    grid-column: 2 / 3;
    grid-row: 1 / 3;
    background-image: url('../images/f1.jpg');
    background-size: cover;
    background-position: center;
}